html, body {
    /* background-color: #f3f3f3; */
    color: #000;
    font-family: Roboto, 'Open Sans' !important;
    height: 100vh;
    background-color: #e5ecc7 !important;
    margin: 0;
}

@font-face{
    font-family: Roboto;
    src: url("RobotoFont/Roboto-Regular.ttf") format('truetype');
    src: url("RobotoFont/roboto-v20-latin-regular.woff") format('woff');
}

#caro1 {
    height: 550px !important;
}

@media only screen and (max-width: 840px){
    #caro1 {
        height: 300px !important;
    }
}

@media only screen and (max-width: 464px){
    #caro1 {
        height: 180px !important;
    }
}

#navbar{
    background-color: #ece28a;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(117, 81, 16)) !important;
}

#topsellingsection{
    border-top: 8px solid #6d6d6d;
}

.brand-logo{
    font-style: italic;
    font-size: 2rem !important;
}

#loginContainer{
    margin-top: 10%;
}

.blackBorder{
    border: 1px solid #000 !important;
}

#loginSubmit{
    margin-bottom: 2rem;
}

#loginSubmit:hover{
    background-color: #745110 !important;
}

#navbar ul li:hover{
    background-color: #6d6d6d;
}

/* HANDLE SIDEBAR BEHAVIOUR */
#slide-out{
    width: 250px !important;
    background-color: #ece28a;
}

.padSide{
    margin-left: 250px;
    transition: margin-left .5s;
}

#sideNavShow{
    margin-right: 3rem;
}

@media only screen and (max-width: 992px){
    
    body {
        margin-left: 0px !important;
    }
}

.collapsible-body li {
    background-color: #e5ecc7 !important;
}

/* SIDEBAR END */

.noBack{
    background: none !important;
    border: none;
}

.mycontainer{
    padding: 2% 5%;
}

body button{
    background-color: #745110 !important;
}


.card-panel{
    border-radius: .5rem;
}

.flexspace{
    display:flex; 
    justify-content: flex-start;
    background-color:#eae088;
}

.flexspace:hover{
    background-color: #d3d3d3;
}

.flexspace .pagecut{
    margin-right:2rem;
}

.pagecut{
    height:3rem; width:3rem;display:flex; justify-content:center;align-items:center;
}

.borderRound{
    border: 1px solid #745110 !important;
}