html, body {
    /* background-color: #f3f3f3; */
    color: #000;
    font-family: Roboto, 'Open Sans' !important;
    height: 100vh;
    background-color: #f0f1f3 !important;
    margin: 0;
}

@font-face{
    font-family: Roboto;
    src: url("RobotoFont/Roboto-Regular.ttf") format('truetype');
    src: url("RobotoFont/roboto-v20-latin-regular.woff") format('woff');
}

#caro1 {
    height: 550px !important;
}

#navbar{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,0,1)) !important;
}

#topsellingsection{
    border-top: 8px solid #6d6d6d;
}

.brand-logo{
    font-style: italic;
    font-size: 2rem !important;
}